body {
  font-family: 'Inter', sans-serif;
  margin: 1rem;
  padding: 1rem;

}

h1 {
  margin-top: 20px;
}

h2 {
  font-weight: bold;
}

h3 {
  font-size: 1.2em;
  font-weight: 400;
}

.reunion-car-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.reunion-car-row div {
  flex: 0 0 calc(33.33% - 10px);
  margin-bottom: 20px;
  /* text-align: center; If we want to center these titles, I commented this, to look like the template requested */
}

.reunion-car-row div img {
  max-width: 100%;
  height: auto;
}

p span {
  color: black;
  text-decoration: black underline;
}



/* Buttons section */

.link-buttons {

  display: flex;
  max-width: 800px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2rem auto;
}

.link-buttons a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background-color: #000000;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-align:  center;
}

.link-buttons a:hover {
  background-color: #feb800;
}

/* tablet queries */

@media (max-width: 768px) {

  .link-buttons a {
    width: 10rem;
    margin: 10px auto;
  }

  .reunion-car-row div {
    flex: 0 0 calc(50% - 10px);
  }

}


/* cellphone queries */

@media (max-width: 480px) {

  .link-buttons {
    flex-direction: column;
  }

  .reunion-car-row {
    flex-direction: column;
  }
}